#root {
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
}
.content-inicial {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(/src/assets/img/fondo1.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 95vh;
  width: 100%;
}

/*Loader*/

.progress {
  --progress: 0%;
  width: 80%;
  height: 30px;
  margin: 0 auto;
  border: 1px solid #fff;
  box-shadow: 0 0 10px #aaa;
  margin-bottom: 40px;
}

.progress .bar {
  width: var(--progress);
  height: 100%;
  background: linear-gradient(gold, #c85, gold);
  background-repeat: repeat;
  box-shadow: 0 0 10px 0px orange;
  animation: shine 4s ease-in infinite, end 1s ease-out 1 7s;
  transition: width 40s ease 3s;
}

@property --progress {
  syntax: "<length>";
  initial-value: 0%;
  inherits: true;
}

@keyframes shine {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 50px;
  }
}

@keyframes end {
  0%,
  100% {
    box-shadow: 0 0 10px 0px orange;
  }
  50% {
    box-shadow: 0 0 15px 5px orange;
  }
}
